<div class="footer">
  <div class="head">
    <h4>Promotions and offers</h4>
    <span>Latest offers recommend based on your usage</span>
  </div>
  <div class="body row">
    <div class="data col">
      <div>lorem epsum</div>
      <hr/>
      <div>lorem epsum</div>
    </div>
    <div class="data col">
      <div>lorem epsum</div>
      <hr />
      <div>lorem epsum</div>
    </div>
    <div class="data col">
      <div>lorem epsum</div>
      <hr />
      <div>lorem epsum</div>
    </div>
    <div class="data col">
      <div>lorem epsum</div>
      <hr />
      <div>lorem epsum</div>
    </div>
  </div>
</div>
